<div class="popin" id="{{ config.id }}" data-popin-value="popin-{{ config.cookie_random }}" data-popin-ttl="{{ config.cookie_ttl }}">
  <div class="overlay" data-action="close"></div>
  <div class="content">
    <div class="close" data-action="close">{{ 'Close' | t }}</div>
      <img src="{{ config.image }}" alt="{{ config.titre }}" />
      <h1>{{ config.titre }}</h1>
      <h2>{{ config.sous_titre }}</h2>
      <div>{{ config.description }}</div>
      <a href="{{ config.lien_cta }}">{{ config.texte_cta }}</a>
  </div>
</div>
